.homeCarousel-img {
    background-size: cover;
    height: 90%;
    width: 100%;
    position: relative;
}

.carousel__Button {
    position: absolute;
    top: 50%;
    left: 30rem;
    z-index: 111 !important;
    cursor: pointer;
} 