.custom-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.5s ease;
    opacity: 1;
    margin: 30px 0;
}

.main {
    padding: 0 30px;
    padding-top: 40%;
    z-index: 1;
}

.hide-content {
    opacity: 0;
    z-index: -1;
}

.dark-bg {
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 0.5s ease;
    z-index: 1;
}


/* RESPONSIVE */
/* tablet: 740<= width < 1024 */
@media screen and (min-width: 740px) and (max-width: 1024px) {

    .custom-fixed {
        position: unset;
    }

    .main {
        padding-top: 0
    }
}

/* moblie: width < 740px  */
@media screen and (max-width: 739px) {

    h2,
    h4 {
        font-size: 18px;
    }

    .custom-fixed {
        position: unset;
    }

    .main {
        padding-top: 0
    }
}