.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main {
    padding-top: 50%;
    z-index: 3;
}

.dark-bg {
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 0.5s ease;
    z-index: 2;
}

/* 
.overlay {
    position: relative;
}

.dark-overlay {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.5s ease;
    opacity: 0;
}

.dark-overlay-show {
    opacity: 1;
    z-index: 1;
}  */

/* RESPONSIVE */
/* tablet: 740<= width < 1024 */
@media screen and (min-width: 740px) and (max-width: 1024px) {
    .fixed {
        position: unset;
    }

    .main {
        padding-top: unset
    }
}

/* moblie: width < 740px  */
@media screen and (max-width: 739px) {
    .fixed {
        position: unset;
    }

    .main {
        padding-top: unset
    }
}